:root{
     --light-gray-color: #424242;
     --dark-yellow-color: #FDBE35;
}

body{
font-family: sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 26.4px */
margin: 0; 
}

*{

      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: var(--light-gray-color);
      font-family: sans-serif;
      font-size: 20px;
}
.btnlight{
      border-radius: 8px;
      background: linear-gradient(96deg, #FF7A7A -39.64%, #F65900 135.31%);
      color: var(--theme-white, #FFF) !important;
text-align: center;

/* Button Bold */
font-family: Source Sans Pro;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 18px */
padding: 21px 48px !important;
}
.btnorder{
      display: flex;
      width: 407px !important;
      padding: 18px 48px !important;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 18px !important;
      border-radius: 8px;
background: var(--yellow-button, linear-gradient(93deg, #FFB800 -47.72%, #FF8A00 136.81%)) !important;
box-shadow: 0px 14px 32px 0px #ffb20e4a, 0px 5px 8px 0px #de97003d !important;
}

.btnpopular{
      width: 283.4px;
      padding: 21px 48px;
      border-radius: 8px;
background: var(--theme-warning, #F17228) !important;

/* Shadow/2 */
box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24), 0px 5px 10px 0px rgba(253, 114, 92, 0.22) !important;
}